* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #EC715F;
  align-items: center;
}

.header {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

.header-logo {
  height: 70px;
}

.nav {
  margin: 0 0 0 auto;
}

.menu-group {
  display: flex;
}

.nav-list {
  float: left;
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

.main {
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual {
  width: 1024px;
  margin: 0 auto;
}

.main-text {
  padding-top: 200px;
  font-size: 64px;
  color: #FAFAFA;
  text-align: center;
}

.sub-text {
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
}

.portfolio {
  background-color: #ECEFF1;
}

.portfolio-main {
  width: 920px;
  margin: 0 auto;
}

.portfolio-text > h2 {
  color: #000000;
  font-size: 32px;
  padding-top: 90px;
  text-align: center;
}

.portfolio-text > h2:after {
  /*疑似要素で線を表示してる*/
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.portfolio-text > p {
  color: #000000;
  font-size: 16px;
  padding: 30px 0px;
  text-align: center;
}

.portfolio-image {
  width:920px;
  padding-bottom: 90px;
  display: flex;
  flex-flow: row wrap;
}

.portfolio-list {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.bg1 {
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.bg2 {
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url(img/websuku.png);
}

.bg3 {
  margin-bottom: 10px;
  background-image: url(img/write.jpg);
}

.bg4 {
  margin-right: 10px;
  background-image: url(img/webcamp.png);
}

.bg5 {
  margin-right: 10px;
  background-image: url(img/talk.jpg);
}

.bg6 {
  background-image: url(img/webcamp-mother.png);
}

.feature {
  width: 980px;
  margin: 0 auto;

}

.feature-text {
  text-align: center;
}

.feature-text > h2 {
  color: #000000;
  font-size: 32px;
  padding-top: 90px;
}

.feature-text > h2:after {
  /*疑似要素で線を表示してる*/
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.feature-text > p {
  color: #000000;
  font-size: 16px;
  padding: 30px 0px;
}

.feature-strength {
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
}

.feature-list {
  width: 320px;
  text-align: center;
}

.feature-list > i {
  font-size: 60px;
}

.feature-list > h3 {
  padding: 10px 0px;
  font-size: 20px;
  color: #000000;
}

.feature-list > p {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.st2 {
  margin: 0px 10px;
}

.profile {
  background-color: #ECEFF1;
}

.profile-main {
  width: 1024px;
  margin: 0 auto;
}

.profile-text > h2 {
  color: #000000;
  font-size: 32px;
  padding-top: 90px;
  text-align: center;
}

.profile-text > h2:after {
  /*疑似要素で線を表示してる*/
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.profile-text > p {
  color: #000000;
  font-size: 16px;
  padding: 30px 0px;
  text-align: center;
}

.profile-content {
  margin: 0 auto;
  width: 1024px;
  display: flex;
}

.profile-image {
  width: 512px;
}

.profile-face {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  background-position: center;
  border-radius: 50%;
}

.profile-introduction {
  width: 512px;
}

.profile-introduction > h3 {
  padding-bottom: 5px;
  font-size: 20px;
}

.profile-introduction > p {
  font-size: 16px;
  color: #000000;
  padding-bottom: 20px;
}

.contact {
  width: 800px;
  margin: 0 auto;
}

.contact-text > h2 {
  color: #000000;
  font-size: 32px;
  padding-top: 90px;
  text-align: center;
}

.contact-text > h2:after {
  /*疑似要素で線を表示してる*/
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.contact-text > p {
  color: #000000;
  font-size: 16px;
  padding: 30px 0px;
  text-align: center;
}

.contact-main {
  margin: 0 auto;
  width: 800px;
  display: flex;
}

.contact-container {
  width: 400px;
  display: flex;
}

.contact-address {
  margin: 0px auto;
}

.contact-address > h3 {
  font-size: 20px;
  padding-bottom: 5px;
}

.contact-address > p {
  padding-bottom: 20px;
}

.contact-sns {
  margin: 0 auto;
}

.contact-sns > h3 {
  padding-bottom: 5px;
  font-size: 20px;
}

.contact-sns > i {
  font-size: 50px;
  padding-right: 20px;
}

footer {
  line-height: 60px;
  width: 100%;
  height: 60px;
  background-color: #EC715F;
}

footer > p {
  height: 60px;
  text-align: center;
  font-size: 16px;
  color: #FAFAFA;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }

  .header {
    width: 90%;
  }

  .header-group {
    height: 50px;
  }

  .header-logo {
    height: 50px;
  }

  .hamburger {
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    }

  .burger-list {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
    }

  .burger-list:first-child {
    margin-top: 10px;
  }

  .nav {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .main {
    background-image: url(img/code.png);
    background-size: cover;
    background-position: center;
  }

  .main-visual {
    width: 90%;
  }

  .main-text {
    font-size: 40px;
  }

  .sub-text {
    font-size: 18px;
  }

  .portfolio-main {
    width: 90%;
  }

  .portfolio-image {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
  }

  .portfolio-list {
    margin: 0 auto;
  }

  .bg1 {
    display: none;
  }

  .bg2 {
    margin-bottom: 10px;
  }

  .bg3 {
    display: none;
  }

  .bg4{
    margin-bottom: 10px;
  }

  .bg5 {
    display: none;
  }

  .feature {
  width: 90%;
  }

  .feature-strength {
  display: flex;
  flex-direction: column;
  }

  .feature-list {
    margin: 0 auto;
  }

  .st1 {
    margin-bottom: 10px;
  }

  .st2 {
    margin-bottom: 10px;
  }

  .profile-main {
    width: 90%;
    margin: 0 auto;
  }

  .profile-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  }

  .profile-image {
    margin: 0 auto;
  }

  .profile-introduction {
    margin: 0 auto;
  }

  .profile-introduction > h3 {
    padding-top: 20px;
  }

  .contact {
    width: 90%;
    padding-bottom: 90px;
  }

  .contact-main {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .contact-container {
    text-align: center;
    margin: 0 auto;
  }

  footer {
    width: 90%;
    margin: 0 auto;
  }
}